<a href="https://colab.research.google.com/github/tanishqaa26/Python-Basics/blob/main/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Python Basics")

Python Basics

In [ ]:
"""
This
is a
comment
"""

'\nThis \nis a \ncomment \n'

In [ ]:
x= 23

In [ ]:
print(x)

23

In [ ]:
type(x)

int

In [ ]:
var1= complex(3,1)

In [ ]:
print(var1, type(var1))

(3+1j) <class 'complex'>

In [ ]:
x= bool(x>5)

In [ ]:
print(x)

True

In [ ]:
list= [1,2,3,4,5]

In [ ]:
print(list)

[1, 2, 3, 4, 5]

In [ ]:
tuple=(1,2,3,4,5)

In [ ]:
print(tuple)

(1, 2, 3, 4, 5)

In [ ]:
tuple=("apple","banana")

In [ ]:
print(tuple)

('apple', 'banana')

In [ ]:
dict= {"name":"tanu","age":"22"}

In [ ]:
print(dict)

{'name': 'tanu', 'age': '22'}

In [ ]:
#Explicit type casting

In [ ]:
a="1"
b=2
# print(int(a)+ b)

In [ ]:
c= int(a)
sum= b+c
print("The sum of both number is: ",sum)

The sum of both number is:  3

In [ ]:
#Implicit Type casting

In [ ]:
a=0.09
b=1
c="22"
sum=a+b+float(c)
print(sum)
print(type(a),type(b),type(c))

23.09
<class 'float'> <class 'int'> <class 'str'>

In [ ]:
#defining a new function
def maths():
 print("this is a new function")

In [ ]:
maths()

this is a new function

In [ ]:
def mathsIsbest():
  pass

In [ ]:
a=100
b=98
if(a<b):
 print(maths())
else:
    print("false")

false

In [ ]:
def my_function(verb):
  print(verb + " python")

my_function("learn")
my_function("play")
my_function("see")

learn python
play python
see python

In [ ]:
#function with variable length arguments
def my_function(*kid):
  print("His last name is " + kid[0])

my_function("tanu",  "soni", "two" ,"shubh")

His last name is tanu

In [ ]:
#function with kwargs arguments
def my_function(**kid):
  print("Her first name is " + kid["fname"])

my_function(fname="tanu",)

Her first name is tanu

In [ ]:
#create a calculator
a= 90
b=5
print("The value of",a,"+" , b,"is", a+b)
print("The value of",a,"-" , b,"is", a-b)
print("The value of",a,"*" , b,"is", a*b)
print("The value of",a,"/" , b,"is", a/b)

The value of 90 + 5 is 95
The value of 90 - 5 is 85
The value of 90 * 5 is 450
The value of 90 / 5 is 18.0

In [ ]:
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
print("Sum is ", a + b)
print("Difference is ", a - b)
print("Product is ", a * b)
print("Quotient when % is zero is ", a / b)

Enter the first number:45556
Enter the second number:54665
Sum is  100221
Difference is  -9109
Product is  2490318740
Quotient when % is zero is  0.8333668709411872

In [ ]:
#Conditional Statements

age=180
if (age>18):
 print("You're an adult")

You're an adult

In [ ]:
age=10
if (age>18):
 print("You're an adult")
else:
  print("No you're not")

No you're not

In [ ]:
a= int(input("Enter your age: "))
if (age>18):
 print("You're an adult")
else:
  print("No you're not an adult")

Enter your age: 5
No you're not an adult

In [ ]:
time = 19
if time < 12:
  print("Good morning")
elif time >=12 and time < 18:
  print("Good afternoon")
else:
  print("Good evening")

Good evening

In [ ]:
a= int(input("Enter your number: "))
if (a<0):
 print("Negative")
elif (a==0):
  print("Zero")
elif (a!=0 and a<2):
  print("Prime number")
else:
  print("Positive")

Enter your number: 1
Prime number

In [ ]:
#Nested If statement

a= int(input("Enter your number: "))
if (a<0):
 print("Negative")
elif (a<30):
j
  if(a<=10):
    print("Number is between 1-10")
  else:
    print("Don't know the number")
else:
  print("Positive")

Enter your number: 45
Positive

In [ ]:
# Defining the variable
day = int(input("Enter the number if your day: "))

# Using match case statement
match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Thursday")
    case 5:
        print("Friday")
    case 6:
        print("Saturday")
    case 7:
        print("Sunday")
    case _:
        print("Not a valid day")

Enter the number if your day: 9
Not a valid day

In [ ]:
#Error handling using try except
try:
  a=int(input("Enter a number: "))
  b=int(input("Enter another number: "))
  result= a+b
  print("Sum is:", result)
except Exception as e:
  print(e)

Enter a number: jnj
invalid literal for int() with base 10: 'jnj'

In [ ]:
# user input


# try block
try:
    num1 = int(input("Enter the first number: "))
    num2 = int(input("Enter the second number: "))
    result = num1 / num2
    print("The result is:", result)

# except blocks
except ZeroDivisionError:
    print("Error: Cannot divide by zero")
except ValueError:
    print("Error: Invalid input")

Enter the first number: 5
Enter the second number: 0
Error: Cannot divide by zero

In [ ]:
# Use of 'finally' keyword

In [ ]:
# Iterators
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
# for loops in strings
string= "Hello world"
for letter in string:
    print(letter)

H
e
l
l
o

w
o
r
l
d

In [ ]:
# for loops in lists
colors= ["red","blue","green"]
for color in colors:
  print(color)

red
blue
green

In [ ]:
# for loops in lists
colors= ["red","blue","green"]
for color in colors:
  print(color)
  for letter in color:
    print(letter)

red
r
e
d
blue
b
l
u
e
green
g
r
e
e
n

In [ ]:
# for loops in range
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# for loops in range
for i in range(1,100):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
a= "sorry"
for a in range(10):
  print(a)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# step
for k in range(1,20,2):
  print(k)

1
3
5
7
9
11
13
15
17
19

In [ ]:
a= ["sorry","sorry"]
for b in a:
  print(b,b*5)

sorry sorrysorrysorrysorrysorry
sorry sorrysorrysorrysorrysorry

In [ ]:
# While loop
count= 5
while count>0:
  print(count)
  count= count-1
else:
  print("The loop is over")

5
4
3
2
1
The loop is over

In [ ]:
count=0
while count<10:
  print("Helloww")
  count+=1

Helloww
Helloww
Helloww
Helloww
Helloww
Helloww
Helloww
Helloww
Helloww
Helloww

In [ ]:
# break and continue statements
for i in range(1,12):
  if i==11:
    break
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
range=1,10
while(range==5):
  continue
  print(range)

In [ ]:
# break and continue statements
for i in range(1,12):
  if i/2==0:
    print("Not divisible")
    continue
  print(i)

TypeError: 'tuple' object is not callable

In [ ]:
# continue
for i in range(20):
  if (i==10):
    print("Skip this iteration")
    continue
  print("next iterations")

TypeError: 'tuple' object is not callable

In [ ]:
numu= [1,2,3,4,5]
for num in numu:
  print(num)

1
2
3
4
5

In [ ]:
numu= ["sorry"]
for num in numu:
  print(num*10)

sorrysorrysorrysorrysorrysorrysorrysorrysorrysorry

In [ ]:
# iterators
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(mytuple)

print(myit)
# print(next(myit))
print(next(myit))

('apple', 'banana', 'cherry')
<tuple_iterator object at 0x788140c33dc0>
apple

In [ ]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [ ]:
mystre= ("apple", "bnbnb")

for x in mystre:
  print(x)

apple
bnbnb

In [ ]:
mystr= "like it"

for a in mystr:
  print(a)

l
i
k
e

i
t

In [ ]:
# Generators in Python

def myGen():
  for i in range(500):
    yield i

gen = myGen()
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))

0
1
2
3

In [ ]:
# /Creating a fibbinoci series using a generator
def series(n):
  a,b=0,1
  for i in range(n):
    yield a
    a,b=b,a+b
  else:
   raise StopIteration

fibbi= series(13)
print(next(fibbi))
print(next(fibbi))
print(next(fibbi))
print(next(fibbi))
print(next(fibbi))
print(next(fibbi))
print(next(fibbi))
print(next(fibbi))
print(next(fibbi))
print(next(fibbi))
print(next(fibbi))
print(next(fibbi))
# print(next(fibbi))
# print(next(fibbi))
# print(next(fibbi))
# print(next(fibbi))

0
1
1
2
3
5
8
13
21
34
55
89

In [ ]:
print("Welcome to the Number Guessing Game")
print("------------------------------------")

import random

number= random.randint(1,100)
guess=0

while guess!= number:
    guess= int(input("Enter your guess: "))

    if (guess<number):
        print("Guess Higher!")
    elif (guess>number):
        print("Guess lower!")
    else:
        print("You Won!")

Welcome to the Number Guessing Game
------------------------------------
Enter your guess: 45
Guess lower!
Enter your guess: 25
Guess lower!
Enter your guess: 15
Guess lower!
Enter your guess: 5
Guess Higher!
Enter your guess: 10
Guess lower!
Enter your guess: 7
Guess Higher!
Enter your guess: 9
Guess lower!
Enter your guess: 8
You Won!

In [ ]:
import re

In [ ]:
pattern= r"[a-z]+ex"
text = ''' Regular expressions, also known as regex, are powerful tools used for matching patterns in strings of text. In Python, regular expressions are supported by the built-in "re" module. Let's say we want to find all email addresses in a string. We can use regular expressions to define a pattern that matches email addresses. '''
# pattern= re.compile(text)
# match= re.search(pattern, text)
# print(match)

matches = re.finditer(pattern, text)
for match in matches:
  print(match)

<re.Match object; span=(36, 41), match='regex'>
<re.Match object; span=(103, 106), match='tex'>

In [ ]:
# match = pattern.search(text)

In [ ]:
match= re.search(pattern, text)

In [ ]:
cylo = `(1, 2, 3)`, `('a', 'b', 'c')`, `(True, 1.5, 'hello')

In [ ]:
arr = [1, 2, 3, 4, 5]
arr.remove(3)
print(arr)

[1, 2, 4, 5]

In [ ]:
arr = ['a', 'b', 'c', 'd', 'e']
del arr[2]
print(arr)

['a', 'b', 'd', 'e']

In [ ]:
#slicing
arr = ['a', 'b', 'c', 'd', 'e']
arr= arr[:2]+ arr[4:]
print(arr)

['a', 'b', 'e']

In [ ]:
# Define an array with some values
arr = [1, 2, 3, 4, 5]
arr = arr[:0] + arr[2:]
print(arr)

[3, 4, 5]

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#to print even or odd
num1 = int(input("Enter the number: "))
if (num1%2)==0:
  print("Even")
else:
  print("odd")

Enter the number: 6
Even

In [ ]:
# Function to print full pyramid pattern
def full_pyramid(n):
    for i in range(1, n + 1):
        # Print leading spaces
        for j in range(n - i):
            print(" ", end="")

        # Print asterisks for the current row
        for k in range(1, 2*i):
            print("*", end="")

In [ ]:
# Function to print pyramid of stars
def print_pyramid(num):
    # Outer loop for printing rows
    for i in range(num):
        # Inner loop for printing spaces
        for j in range(num-i-1):
            print(" ", end="")
        # Inner loop for printing stars
        for k in range(i+1):
            print("* ", end="")
        # Printing new line
        print()

# Taking input from user
num = int(input("Enter the number of rows: "))
# Calling the function
print_pyramid(num)

Enter the number of rows: 10
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [ ]:
#user division first or second
a=55
if (a>60):
  print("first")
elif(a<60 and a>50):
  print("second")
elif(a<50 and a>40):
  print("third")
else:
  print("fail")

second

In [ ]:
# Regex in python
import re
pattern="are"

In [ ]:
text = "Python Lambda Functions are anonymous function means that the function is without a name. As we already know that the def keyword is used to define a normal function in Python. Similarly, the lambda keyword is used to define an anonymous function in Python."

In [ ]:
match=re.search(pattern, text)
print(match)

<re.Match object; span=(24, 27), match='are'>

In [ ]:
pattern= r"[a-z]+ion"
# r is the raw string

In [ ]:
matches=re.finditer(pattern, text)
for match in matches:
  print(match)

<re.Match object; span=(15, 22), match='unction'>
<re.Match object; span=(38, 46), match='function'>
<re.Match object; span=(62, 70), match='function'>
<re.Match object; span=(157, 165), match='function'>
<re.Match object; span=(238, 246), match='function'>

In [ ]:
#Decorators in python

# defining a decorator function
def mathes(fun):
# inner function
    def maths():
        print("Maths is good")
        fun()
        print("I love maths")
    return maths

@mathes
def hobby():
  print("Maths is my hobby")


hobby()

Maths is good
Maths is my hobby
I love maths

In [ ]:
hobby()

TypeError: 'NoneType' object is not callable

In [ ]:
# defining a decorator
def print_msg(func):
    # inner function that will add additional functionality
    def inner():
        print("Before executing function")
        # calling the original function
        func()
        print("After executing function")
    return inner

# using the decorator
@print_msg
def hello():
    print("Hello!")

# calling the decorated function
hello()

Before executing function
Hello!
After executing function

In [ ]:
def sage(school):
    def my_Fun():
      print("I am a student")
      school()
      print("In 3rd year")
    return my_Fun

@sage
def college():
  print("In sage university")

college()

I am a student
In sage university
In 3rd year

In [ ]:
def sage(school):
    def my_Fun():
      print("I am a student")
      school()
      print("In 3rd year")
    return my_Fun

@sage
def college():
  print("In sage university")
@sage
def uni():
  print("good uni")

uni()
college()

I am a student
good uni
In 3rd year
I am a student
In sage university
In 3rd year

In [ ]:
# Lambda functions

add= lambda x,y:x+y
print(add(10,20))

30

In [ ]:
multiply = lambda x,y,z:x*y*z
print(multiply(10,20,30))

6000

In [ ]:
# Without using lambda function
def multiply(x,y,z):
  return x*y*z
print(multiply(10,20,30))

6000

In [ ]:
# Enumerate function in python

fruits= ['apple','banana','cherry','kiwi','mango']

for index, fruit in enumerate(fruits):
  print(index, fruit)

0 apple
1 banana
2 cherry
3 kiwi
4 mango

In [ ]:
fruits= ['apple','banana','cherry','kiwi','mango']

for index, fruit in enumerate(fruits):
  print(index, fruit)
  if (index==2):
    print("I love this fruit")

0 apple
1 banana
2 cherry
I love this fruit
3 kiwi
4 mango

In [ ]:
fruits= ['apple','banana','cherry','kiwi','mango']

for index, fruit in enumerate(fruits,start=4):
  print(index, fruit)
  if (index==7):
    print("I love this fruit")

4 apple
5 banana
6 cherry
7 kiwi
I love this fruit
8 mango

In [ ]:
# Learning OOP in python

class details:
  name="rohan"
  age=20

  def version(self):
    print("My name is", self.name, "and my age is", self.age)

obj= details()
obj.version()

My name is rohan and my age is 20

In [ ]:
# Constructors

class animals:
  def __init__(self,name,group):
    self.name= name
    self.group= group

  def info(self):
    print("This animal name is",self.name, "and it belongs to ", self.group)

In [ ]:
a= animals("tiger","carnivores")
a.info()

This animal name is tiger and it belongs to  carnivores

In [ ]:
b= animals("lion","carnivores")
b.info()

This animal name is lion and it belongs to  carnivores

In [ ]:
class people:
  def __init__(self,name,group):
    self.name= name
    self.group= group

  def pui(self):
    print("This animal name is",self.name, "and it belongs to ", self.group)""

In [ ]:
a= people("tiger","carnivores")
a.pui()

This animal name is tiger and it belongs to  carnivores

In [ ]:
class people:
  def __init__(self,name,group):
    self.name= name
    self.group= group

a= people("tiger","carnivores")
print(a.name,"belongs to", a.group)

tiger belongs to carnivores

In [ ]:
#default constructor

class bye:
  def __init__(self):
    print("tata bye bye")

a=bye()

tata bye bye

In [ ]:
# Inheritance
class details:
  def __init__(self, name, id):
    self.name= name
    self.id= id

  def employee(self):
    print("The name of the employee is", self.name,"with id number",self.id)

class mittarv (details):
  def company(self,salary):
    super().company(name,id,salary)
    self.name= name
    self.id= id
    self.salary= salary

    print("The salary of the employee is", self.salary,"with name",self.name, self.id)
    # super().employee()  #to call the parent class method

a= details("rohan", 123)
a.employee()
a= details("rahin", 23)
a.employee()
a1= mittarv("rohanish",234)
a1.employee()

The name of the employee is rohan with id number 123
The name of the employee is rahin with id number 23
The name of the employee is rohanish with id number 234

In [ ]:
# Super method in python

class rectangle():
  def __init__(self, length, width):
    self.length= length
    self.width= width

class square(rectangle):
  def __init__(self, length, width):
    super().__init__(length, width)

  def area(self):
    return self.length*self.width

class cube(rectangle):
  def __init__(self, length , width, height):
    super().__init__(length,width)
    self.height= height

  def volume(self):
    return self.length*self.width*self.height

a= square(10,54)
print(a.area())
b=cube(10,20,30)
print(b.volume())
print(b.__dict__)
print(a.__dict__)

540
6000
{'length': 10, 'width': 20, 'height': 30}
{'length': 10, 'width': 54}

In [ ]:
x= [1,2,3,4,5]
print(dir(x))
print(x.__add__)

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
<method-wrapper '__add__' of list object at 0x77fdd0675940>

In [ ]:
print(x.__getattribute__("3"))

AttributeError: 'tuple' object has no attribute '3'

In [ ]:
a= "Tanishqa"
print(len(a))

8

In [ ]:
class mine():
  def __init__(self, name):
    self.name= name

  def __len__(self):
    return len(self.name)

a= mine("Tanishqa")
print(len(a))
print(a.name)

8
Tanishqa

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f'{self.name}, Age: {self.age} str'

    def __repr__(self):
      return f'{self.name}, Age: {self.age} repr'

    def __call__(self):
      return f'{self.name}, Age: {self.age} call'

# Creating an instance of the Person class
person = Person("Alice", 30)

# Using print() function to display the person's information
# print(str(person))
print(repr(person))  # This will call person.__str__()
print(person())  # This will call person.__call__()

Alice, Age: 30 repr
Alice, Age: 30 call

In [ ]:
# lists

marks= [90,98,87,76, "tanu"]
print(marks)
print(len(marks))
print(marks[0])
print(marks[1])
print(marks[2])
print(marks[3])

# negatve indexing
print(marks[-1])
print(marks[4-1])
print(marks[3])


# range of index
print(marks[1:4])
print(marks[:])
print(marks[0:4:2])

[90, 98, 87, 76, 'tanu']
5
90
98
87
76
tanu
76
76
[98, 87, 76]
[90, 98, 87, 76, 'tanu']
[90, 87]

In [ ]:
if "98" in marks:
  print("yes")
else:
  print("no")

no

In [ ]:
if "an" in "tanu":
  print("yeay")
else:
  print("nay")

yeay

In [1]:
# List methods

In [3]:
# append
l= [11,12,13,14,15]
l.append(20)
print(l)

[11, 12, 13, 14, 15, 20]

In [4]:
# index
l= [11,12,13,14,15]
m= l.index(14)
print(m)

3

In [6]:
# count
l= [11,12,13,14,15,14,14]
m= l.count(14)
print(m)

3

In [11]:
# sort
l= [11,2,13,14,15,1]
# l.sort()
l.sort(reverse=True)
print(l)

[15, 14, 13, 11, 2, 1]

In [12]:
l= [11,2,13,14,15,1]
# l.sort()
l.sort(reverse=True)
print(l)

[15, 14, 13, 11, 2, 1]