<a href="https://colab.research.google.com/github/tanishqaa26/Python-Basics/blob/main/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Python Basics")

Python Basics

In [ ]:
"""
This
is a
comment
"""

'\nThis \nis a \ncomment \n'

In [ ]:
x= 23

In [ ]:
print(x)

23

In [ ]:
type(x)

int

In [ ]:
var1= complex(3,1)

In [ ]:
print(var1, type(var1))

(3+1j) <class 'complex'>

In [ ]:
x= bool(x>5)

In [ ]:
print(x)

True

In [ ]:
list= [1,2,3,4,5]

In [ ]:
print(list)

[1, 2, 3, 4, 5]

In [ ]:
tuple=(1,2,3,4,5)

In [ ]:
print(tuple)

(1, 2, 3, 4, 5)

In [ ]:
tuple=("apple","banana")

In [ ]:
print(tuple)

('apple', 'banana')

In [ ]:
dict= {"name":"tanu","age":"22"}

In [ ]:
print(dict)

{'name': 'tanu', 'age': '22'}

In [ ]:
#Explicit type casting

In [ ]:
a="1"
b=2
# print(int(a)+ b)

In [ ]:
c= int(a)
sum= b+c
print("The sum of both number is: ",sum)

The sum of both number is:  3

In [ ]:
#Implicit Type casting

In [ ]:
a=0.09
b=1
c="22"
sum=a+b+float(c)
print(sum)
print(type(a),type(b),type(c))

23.09
<class 'float'> <class 'int'> <class 'str'>

In [ ]:
#defining a new function
def maths():
 print("this is a new function")

In [ ]:
maths()

this is a new function

In [ ]:
def mathsIsbest():
  pass

In [ ]:
a=100
b=98
if(a<b):
 print(maths())
else:
    print("false")

false

In [ ]:
def my_function(verb):
  print(verb + " python")

my_function("learn")
my_function("play")
my_function("see")

learn python
play python
see python

In [ ]:
#function with variable length arguments
def my_function(*kid):
  print("His last name is " + kid[0])

my_function("tanu",  "soni", "two" ,"shubh")

His last name is tanu

In [ ]:
#function with kwargs arguments
def my_function(**kid):
  print("Her first name is " + kid["fname"])

my_function(fname="tanu",)

Her first name is tanu

In [ ]:
#create a calculator
a= 90
b=5
print("The value of",a,"+" , b,"is", a+b)
print("The value of",a,"-" , b,"is", a-b)
print("The value of",a,"*" , b,"is", a*b)
print("The value of",a,"/" , b,"is", a/b)

The value of 90 + 5 is 95
The value of 90 - 5 is 85
The value of 90 * 5 is 450
The value of 90 / 5 is 18.0

In [ ]:
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
print("Sum is ", a + b)
print("Difference is ", a - b)
print("Product is ", a * b)
print("Quotient when % is zero is ", a / b)

Enter the first number:589
Enter the second number:523
Sum is  1112
Difference is  66
Product is  308047
Quotient when % is zero is  1.1261950286806883

In [ ]:
#Conditional Statements

age=180
if (age>18):
 print("You're an adult")

You're an adult

In [ ]:
age=10
if (age>18):
 print("You're an adult")
else:
  print("No you're not")

No you're not

In [ ]:
a= int(input("Enter your age: "))
if (age>18):
 print("You're an adult")
else:
  print("No you're not an adult")

Enter your age: 5
No you're not an adult

In [ ]:
time = 19
if time < 12:
  print("Good morning")
elif time >=12 and time < 18:
  print("Good afternoon")
else:
  print("Good evening")

Good evening

In [ ]:
a= int(input("Enter your number: "))
if (a<0):
 print("Negative")
elif (a==0):
  print("Zero")
elif (a!=0 and a<2):
  print("Prime number")
else:
  print("Positive")

Enter your number: 1
Prime number

In [ ]:
#Nested If statement

a= int(input("Enter your number: "))
if (a<0):
 print("Negative")
elif (a<30):
  if(a<=10):
    print("Number is between 1-10")
  else:
    print("Don't know the number")
else:
  print("Positive")

Enter your number: 45
Positive

In [ ]:
# Defining the variable
day = int(input("Enter the number if your day: "))

# Using match case statement
match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Thursday")
    case 5:
        print("Friday")
    case 6:
        print("Saturday")
    case 7:
        print("Sunday")
    case _:
        print("Not a valid day")

Enter the number if your day: 9
Not a valid day

In [ ]:
#Error handling using try except
try:
  a=int(input("Enter a number: "))
  b=int(input("Enter another number: "))
  result= a+b
  print("Sum is:", result)
except Exception as e:
  print(e)

Enter a number: jnj
invalid literal for int() with base 10: 'jnj'

In [ ]:
# user input


# try block
try:
    num1 = int(input("Enter the first number: "))
    num2 = int(input("Enter the second number: "))
    result = num1 / num2
    print("The result is:", result)

# except blocks
except ZeroDivisionError:
    print("Error: Cannot divide by zero")
except ValueError:
    print("Error: Invalid input")

Enter the first number: 5
Enter the second number: 0
Error: Cannot divide by zero

In [14]:
# Use of 'finally' keyword

def func1():
  try:
    lists=[1,3,5,7,9]
    i= int(input("Enter the index: "))
    print(lists[i])
    return(0)
  except:
    print("Some error occured")

  finally:
    print("this will print")


x= func1()
print(x)

Enter the index: 4
9
this will print
0

In [5]:
 print("Some error occured")

Some error occured